@model webDangKiem.Models.LichDangKiemView

@{
    ViewBag.Title = "DangKyThanhCong";
    Layout = "~/Views/layout/NavbarFooter.cshtml";
}

<h3 class="mt-5">&nbsp</h3>
<figure class="text-center mt-5">
    <figcaption class="blockquote-footer">
        <h2 class="text-dark fst-italic" title="Source Title">@ViewBag.Message</h2>
    </figcaption>
</figure>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cccd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cccd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hoVaten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoVaten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bienSoxe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bienSoxe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ngayDangkiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayDangkiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayHethan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayHethan)
        </dd>

    </dl>
</div>