
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout/NavbarFooter.cshtml";

    var dstintuc = new webDangKiem.Models.tinTuc().danhSach();
}
@*Carousel-start*@
<div id="carouselExampleCaptions" class="carousel slide mt-3 w-100" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active w-100">
            <div class=" bg-primary bg-opacity-30">
                <img src="https://i1-vnexpress.vnecdn.net/2023/03/21/MG-9792-JPG-7056-1679384317.jpg?w=0&h=0&q=100&dpr=2&fit=crop&s=gNwILE5fB4xkjGG3zLsYzg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h2 class="fw-bold">Những lưu ý khi đăng kiểm ôtô - mọi tài xế cần biết</h2>
                <a href="https://vnexpress.net/nhung-luu-y-khi-dang-kiem-oto-moi-tai-xe-can-biet-4098040.html" class="btn btn-success btn-outline-success"><h3>XEM</h3></a>
            </div>
        </div>
        <div class="carousel-item w-100">
            <img src="https://i1-vnexpress.vnecdn.net/2023/03/22/L1003444-JPG-4174-1679444363.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=UHkC31DohctvVCuYInxH7A" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="fw-bold">Chu kỳ kiểm định xe gia đình có thể được kéo dài thêm 6 tháng</h2>
                <a href="https://vnexpress.net/chu-ky-kiem-dinh-xe-gia-dinh-co-the-duoc-keo-dai-them-6-thang-4582915.html" class="btn btn-success btn-outline-success"><h3>XEM</h3></a>
            </div>
        </div>
        <div class="carousel-item w-100">
            <img src="https://i1-vnexpress.vnecdn.net/2023/03/22/L1003399-JPG-3801-1679460829.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=Imgf-qBhsTxSgrfHV_w62A" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="fw-bold">Quy định đăng kiểm mới cho phép xe độ đèn</h2>
                <a href="https://vnexpress.net/quy-dinh-dang-kiem-moi-cho-phep-xe-do-den-4584681.html" class="btn btn-success btn-outline-success"><h3>XEM</h3></a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<figure class="text-center mt-3">
    <figcaption class="blockquote-footer">
        <h2 class="text-dark" title="Source Title">@ViewBag.Message</h2>
    </figcaption>
</figure>
@*Carousel-end*@

@*Qualitypage-start*@
<div class="row text-center mt-5 mb-5">
    <div class="col-12 col-sm-4 col-lg-3 mb-4 mb-lg-0 text-center ">
        <div class="icon icon-shape icon-lg icon-shape-secondary">
            <span class="fas fa-shield fa-10x "></span>
        </div>
        <h2 class="h3 my-3">AN TOÀN</h2>
    </div>
    <div class="col-12 col-sm-4 col-lg-3 mb-4 mb-lg-0 text-center">
        <div class="icon icon-shape icon-lg icon-shape-secondary">
            <span class="far fa-handshake fa-10x"></span>
        </div>
        <h2 class="h3 my-3">UY TÍN</h2>
    </div>
    <div class="col-12 col-sm-4 col-lg-3 mb-4 mb-lg-0 text-center">
        <div class="icon icon-shape icon-lg icon-shape-secondary">
            <span class="fas fa-user-shield fa-10x"></span>
        </div>
        <h2 class="h3 my-3">BẢO MẬT</h2>
    </div>
    <div class="col-12 col-sm-4 col-lg-3 mb-4 mb-lg-0 text-center">
        <div class="icon icon-shape icon-lg icon-shape-secondary">
            <span class="fas fa-bolt fa-10x"></span>
        </div>
        <h2 class="h3 my-3">NHANH CHÓNG</h2>
    </div>

</div>
@*Qualitypage-start*@

@*Service-start*@
<h2 class="card-title text-center fw-bold text-decoration-none">Hướng dẫn</h2>
<div class=" align-items-center justify-content-center mt-5">
    <a href="/Home/HuongDanDangKy" class="text-decoration-none">
        <div class="card mt-1 w-100 p-4 rounded-pill border-dark shadow-sm p-3 mb-5 bg-white rounded">
            <div class="card-body ">
                <p class="card-text text-center h2 text-decoration-none pb-4">Cách đăng ký lịch đăng kiểm</p>
            </div>
        </div>
    </a>
    <a href="/Home/HuongDanTraCuu" class="text-decoration-none">
        <div class="card mt-1 w-100 p-4 rounded-pill border-dark shadow-sm p-3 mb-5 bg-white rounded">
            <div class="card-body ">
                <p class="card-text text-center h2 text-decoration-none pb-4">Cách Tra Cứu</p>
            </div>
        </div>
    </a>
</div>
@*Service-end*@


@*Newspage-start*@
<h3 class="mt-5">&nbsp</h3>
<figure class="text-center mt-5">
    <figcaption class="blockquote-footer">
        <h2 class="text-dark fst-italic" title="Source Title">Tin Tức</h2>
    </figcaption>
</figure>
@foreach (var item in dstintuc)
{
    <div class="row gx-5 mt-3">
        <div class="col-md-6 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <a href="@item.linkTT"><img src="@item.imgTT" class="img-fluid" /></a>
                <a href="@item.linkTT">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">@item.nguonTT</span>
            <h4><strong>@item.nameTT</strong></h4>
            <p class="text-muted">
                @item.motaTT
            </p>
            <a href="@item.linkTT" class="btn btn-primary">
                XEM
            </a>
        </div>
    </div>}

@*Newspage-end*@
