
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/layout/NavbarFooter.cshtml";
    var dstintuc = new webDangKiem.Models.tinTuc().danhSach();
}
<h3 class="mt-5">&nbsp</h3>
<figure class="text-center mt-5">
    <figcaption class="blockquote-footer">
        <h2 class="text-dark fst-italic" title="Source Title">@ViewBag.Message</h2>
    </figcaption>
</figure>
@foreach (var item in dstintuc)
{
<div class="row gx-5 mt-3">
    <div class="col-md-6 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <a href="@item.linkTT"><img src="@item.imgTT" class="img-fluid" /></a>
            <a href="@item.linkTT">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">@item.nguonTT</span>
        <h4><strong>@item.nameTT</strong></h4>
        <p class="text-muted">@item.motaTT
        </p>
        <a href="@item.linkTT" class="btn btn-primary">
            XEM
        </a>
    </div>
</div>}

